.header {
    background-color: #1F2937;
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom: 180px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    
    gap: 8px
    
    
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    
}



ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 12px;
}

.logolinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: auto;
}

.signup {
    align-self: flex-start;
}

.main-banner {
    display: flex;
    flex-direction: column;
}



.textrectangle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    color: white;
}

.awesome-text {
    max-width: 400px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.subtext {
    max-width: 450px;
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 12px;
}

.signup {
    padding: 4px 18px;
    border-radius: 8px;
    background-color: #3882F6;
    border: 1px solid royalblue;
    color: white;
    font-weight: bold;
}

.image {
    
    background-color: grey;
    color: white;
    padding: 120px 150px;
}

.title-middle{
    text-align: center;
    margin:24px;
    font-weight: 900;
    font-size: 30px;
}

.square-text{
    display: flex;
    
    max-width: 600px;
    gap: 32px;
    font-size: small;
    margin: 0 auto;
}

.under-text {
    
    color: grey;
    margin-top: 8px;
    align-self:auto;
    padding-bottom: 144px;
}

.square {
    height: 120px;
    width: 120px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid #3882F6;
}

.middle2 {
    background-color: #E5E7EB;
    padding: 120px 250px;
    
    
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.autor {
    font-weight: bold;
    color: #1F2937;
    text-align: end;
}

.down1{
    padding: 80px 140px;
    
}

.blue {
    background-color: #3882F6;
    padding: 30px 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    
    
}
.signup2 {
    align-self: flex-end;
    margin-bottom: 8px;
    padding: 4px 20px;
    border-radius: 8px;
    background-color: #3882F6;
    border: 1.5px solid white;
    color: white;
    font-weight:500;
}

.action {
    font-weight: bold;
}
.signuptext{
    font-weight: lighter;
}

