.header {
    background-color: #1F2937;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 180px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px
    
    
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

#rectangle{
    width:200px;
    height:100px;
    background: grey;
    color: white;
    display: flex;
    
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 12px;
}

.logolinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: auto;
}

.signup {
    align-self: flex-start;
}

.main-banner {
    display: flex;
    flex-direction: column;
}

#rectangle {
    display: flex;
    flex-direction: column;
}
